/Paskaita2/nbproject/private/
/Paskaita2/build/
/Paskaita2/dist/
/Paskaita2nd/nbproject/private/
/Paskaita2nd/build/
/Paskaita2nd/dist/
/Paskaita3/nbproject/private/
/Paskaita3/build/
/Paskaita3/dist/